.idea
*.xlsx
*.csv
*.txt
*.db
*/__pycache__/
*.key
*.gz
/URLExtraction/.scrapecache
/URLExtraction/ghostdriver.log
/URLExtraction/google_scraper.db.bak
.dropbox
*.docx
WebContentDownload/__pycache__
*.pyc
